body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="number"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    text-align: center;
}

#password {
    font-size: 18px;
    margin-bottom: 10px;
    word-break: break-word;
}

#copy {
    background-color: #28a745;
}

#copy:hover {
    background-color: #218838;
}

.settings {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.settings label, .settings select {
    margin-bottom: 10px;
}

/* Karanlık Mod */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.container.dark-mode {
    background: #1e1e1e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

button.dark-mode {
    background-color: #007bff;
    color: #fff;
}

button.dark-mode:hover {
    background-color: #0056b3;
}

#copy.dark-mode {
    background-color: #28a745;
}

#copy.dark-mode:hover {
    background-color: #218838;
}
